html {
	border: 3px solid black;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	list-style-type: none;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 75px;
	font-weight: 100;
}

span {
	font-weight: 900;
}

h2 {
	text-align: center;
}

li {
	display: inline;
}

p {
	font-size: 32px;
}

nav {
	background-color: #75e2e6;
	height: 100px;
	border-bottom: 10px solid #048eaa;
}

main {
	clear: both;
}

.site-logo {
	display: inline;
	margin: 10px 10px 10px 20px;
	float: left;
	height: 75px;
	width: 75px;
}

.site-nav {
	float: right;
	display: inline-block;
	text-align: right;
	font-size: 32px;
	font-weight: bold;
	line-height: 0px;
}

.header {
	margin: auto;
  	width: 99%;
  	padding: 10px;
  	background-image: url("images/park.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	height: 700px;
}

#header-profile,
#header-image,
#header-form {
	margin: 10px auto;
}

#header-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 250px;
	width: 250px;
	border-radius: 150px;
  	border: 5px solid #048eaa;
}

#header-form {
	text-align: center	;
}

#header-form-label {
	text-align: left;
	color: #ffffff;
}

input {
	display: block;
	height: 70px;
	width: 30%;
	margin: 30px auto 30px auto;
	font-size: 16px;
}

input[type=submit] {
	background-color: ##75e2e6;
}

.column {
	float: left;
  	width: 30%;
  	padding: 10px
}

.column-button {
	font-size: 32px;
	color: #ffffff;
	text-align: center;
	background-color: #048eaa;
	height: 85px;
	line-height: 85px;
}

.column-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 250px;
	width: 250px;
	border-radius: 150px;
  	border: 5px solid #048eaa;
}

footer {
	clear: both;
	display: block;
	background-color: #048eaa;
	color: #ffffff;
	padding: 20px;
	justify-content: center;
}

h3,
.footer-text {
	text-align: center;
	font-size: 30px;
	padding: 20px 20px;
}

li{
	padding: 20px;
}